.aboutcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.abouttext {
  margin-right: 10%;
  margin-top: 2%;
  width: 40%;
}

.text {
  color: #555b6e;
  font-family: "Open Sans";
  letter-spacing: 0.25px;
  font-size: 16px;
  line-height: 33px;
}

.textlink {
  color: #89b0ae;
  font-weight: 600;
  text-decoration: none;
}

.textlink:hover {
  background-color: #e8f6f3;
  border-radius: 5px;
}

.headshot {
  height: 10;
}
