.contactcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

.contactmessage {
  font-family: "Spartan";
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 1%;
}

.email {
  font-family: "Spartan";
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 3%;
}

.icons {
  display: flex;
  width: 300px;
  margin-top: 0.5%;
  justify-content: space-between;
}
