.library-feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.library-feature-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.library-feature-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.library-feature-right-text {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.feature-txt {
  padding: 12%;
}
